/*
 * fuze.css
 * Version: 0.1
 * Author: Aiden Bai

 * Made available under a MIT License:
 * https://www.opensource.org/licenses/mit-license.php

 * fuze.css Copyright Aiden Bai 2017.
 */

.btn-1 {
  margin: .4em;
  padding: .7em;
  cursor: pointer;
  background: #ececec;
  text-decoration: none;
  color: #666;
}


.glow {
  display: inline-block;
  transition-duration: 0.3s;
  transition-property: box-shadow;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.glow:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

